<<<<<<< HEAD
=======
body{
    margin: 0px;
    background-color: white;
    font-family: 'poppins';
    max-width: 100%;
    overflow-x: hidden;
}
#showcase1{
    background-color: rgb(184, 176, 173);
    border-sizing: border box;

}
body li{

    position: static;
    display: inline;
    padding-right:105px;
    font-size: 11px;
    padding-bottom: 0px;
}

>>>>>>> d04f54ee8b7b1c4fafd43b87b78246996279a17b
body ul{
 text-decoration: none;
 padding-top: 60px;
 


}

body li{
    display: inline;
    font-size:10px;
    padding-right: 106px;
    padding-top: 200px;
    
}
body{
    font-family: poppins;
    margin: -2%;
    padding: 0;
}


#topbar{
    background-color: rgb(224, 224, 235) ;
    
}
#logo{
    font-size: 100px;
    position:absolute;
<<<<<<< HEAD
    left:41%;
    color: rgb(60, 36, 7);
    top: -3%;

    
    
}
 .street-food{

font-size:20px ;
    position: relative;
    padding-left:41%;
    padding-top: -400px;
 }


 #showcase{
     padding-left: 7%;
     background-color:rgb(224, 224, 235) ; ;
line-height: 22px;
    }


.street{
    color:rgb(109, 165, 20);
    font-size:22px;
}

.food{
    color: rgb(247, 176, 22);
    position: absolute;
    top: 19.5%;
    left: 14%;
    font-size: 22px;
}


#showcase p{
    padding-right: 70%;
}


.button{
    background-color: rgb(27, 8, 70);
}


    #circle {
        position: absolute;
        top: -10%;
        left: 78%;
        transform: translate(-50%, -50%);
        height: 1200px;
        width: 1200px;
        border-radius: 1000px 0px 1000px 1000px ;
        background-color:#6CB840 ;
        opacity: 90%;

    }




.circle-area{

    position:absolute;
    left:50%;
    top:8%;
    
}


#happy-hour{
    position: absolute;
    left:34%;
    font-size: 10px;
    top: 9%;

}





.circle2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    border-radius: 150px 150px  0 0;
    background-color:red ;
    opacity: 90%;

}
=======
    top: 78%;
    left: 60%;
}
  
  #eat-together{
      position: absolute;
      top:120%;
      background-color: white;
      display: flex;
  }

.eat-para{
    margin-top: 10%;
    order: 2;
    width: 30%;
    top: 10%;
    font-size: 18px;
    text-align: center;
}

.eat{
    flex:end
}
        
>>>>>>> d04f54ee8b7b1c4fafd43b87b78246996279a17b
