body{
    margin: 0px;
    background-color: white;
    font-family: 'poppins';
    max-width: 100%;
    overflow-x: hidden;
}
#showcase1{
    background-color: rgb(184, 176, 173);
    

}
body li{

    position: static;
    display: inline;
    padding-right:105px;
    font-size: 11px;
    padding-bottom: 0px;
}

#contact{
    padding-left: 90%;
    
}

#dottedsemi{
    position:absolute;
    top: 20%;
    left: 58%;
    height: 400px;
    width: 400px;
    border-radius:  700%;
    background-color: rgb(161, 113);
    border-left-style: dotted;
    transform: translate(-px,-50px) ; 
    border-color: rgb(3, 83, 3);
}

body ul{
    position: absolute;
}

a{
    color: rgb(7, 6, 6);
    text-decoration: none;
}
a :hover{
    color: coral;
}

.star{
     position: absolute;
    font-size: 80px;
    color: rgb(49, 29, 4);
    top: 7px;
    left: 44%;
    transform: translate(0,-48%);
    height: 80px;
    
}

    

.name{
    position: absolute;
    left: 43%;
    transform: translate( 50%-50%);
    font-size: 18px;
    top: 52px;
}
#semi
{
    opacity: 80%;
     position:absolute;
    top: 5%;
    left: 76%;
    transform: translate(-50%, -50%);
    height: 990px;
    width: 990px;
    border-radius:  960px  0 960px 960px;
    background-color: rgb(149, 209, 80);

}

.street{
    font-size: 22px;
    color: rgb(64, 184, 40);
    padding-left: 17%;
    padding-top: 15.2%;
    
}
.food{
    font-size: 23px;
    color: rgb(230, 167, 50);
    
    top: 32%;
     padding-left: 7%;
    margin-top: -6.29%;
    
}
.showparagraph {
    
    padding-right: 63%;
    padding-left: 7%;
    padding-bottom: 4%;

}
    

#background1{
    background-color: rgb(226, 223, 223);
}

    
button {
    
    
    padding-bottom: 10%;
    background-color: #1caa21; /* Green */
    border-radius: 50px;
    color: white;
    padding: 15px 32px;
    font-size: 17px;
    border-color:#2f7c10 ;
  } 
  
  button:hover{
    background-color: black;
  }
.image1{
    position:absolute;
    top: 70%;
    left: 69%;
}
.image2{
    position:absolute;
    top: 42%;
    left: 59%
}
.image3{
    position:absolute;
    top: 66%;
    left: 55%;
}
.image4{
    position:absolute;
    top: 29%;
    left: 72%;
}
.image5{
    position:absolute;
    top: 38%;
    left: 84.5%;
}
.image6{
    position: absolute;
    height: 10%;
    width: 10%;
    top: 68%;
    left: 91%;
}








  
  #eat-together{
    
    background-color: white;
    display:flex;
    flex-wrap: wrap;
      
  }



.eat{

color: rgb(230, 167, 50);
font-size: 22px;
order: 2;
height: 20%;

margin-left: 7%;
margin-top: 8%;

   
}

.eat-para{
    position: absolute;
    left: 44%;
    padding-left:5% ;
    order: 3;
    text-align: center;
    width: 28.5%;
    height: 23%;
    margin-top: 15%;
    
    
    
 
    
}

#image12{
    order: 1;
    
    
}

#explorem{
    display: flex;
    background-color: rgba(208, 219, 202, 0.336);
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    padding-bottom: 5%;
    padding-left: 6%;
    padding-right: 6%;
    justify-content: space-between;
    position: relative;

    
}

#explore-title{

    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(208, 219, 202, 0.336);


}
.box-1{
    margin-left: 0%;
    margin: 2%;
   width: 28%;
   background-color: white;
   border-bottom-right-radius: 18%;
  

}

.box-2{
    margin-left: 0%;
    margin: 2%;
   width: 28%;
   background-color: white;
   border-bottom-right-radius: 18%;
  
 }

.box-3{
    margin-left: 0%;
    margin: 2%;
   width: 28%;
   background-color: white;
   border-bottom-right-radius: 18%;
  
 }

.box-4{
    margin-left: 0%;
    margin: 2%;
   width: 28%;
   background-color: white;
   border-bottom-right-radius: 18%;
  
 }

.box-5{
    margin-left: 0%;
    margin: 2%;
   width: 28%;
   background-color: white;
   border-bottom-right-radius: 18%;
  
 }

.box-6{
    margin-left: 0%;
    margin: 2%;
   width: 28%;
   background-color: white;
   border-bottom-right-radius: 18%;
  
 }


 #explorem p{

        padding-left: 39%;
        text-align: center;
        padding-right: 6%;

}

#explorem img{
position: relative;
margin-top: -90%;
margin-left: -20%;
margin-bottom: -17%;
}

#explore-title{
    display: flex;
    justify-content: center;

}
.menu{
    color: rgb(64, 184, 40);
    padding-left: 2% ;
}

#main-flex{
    display: flex;
}
#hot-images{
    display: flex;
    border: solid redd;
}

#hot-dealss{
background-color: rgb(203, 228, 170);
margin-left:5%;
margin-right: 5%;


}
#hot-deals{
display: flex;
justify-content: center;
font-size: 21px;
 }

 .deals{
     padding-left: 1%;
     color:rgb(64, 184, 40) ;
 }
.special-combo{
font-size: 26px;
color: rgb(64, 184, 40);

}

#minor-flex h3{
    font-size: 26px;
    
}
 #minor-flex p{
     text-align: center;
     
 }

.img-2{
    position: absolute;
    
    left:12%;
    padding-top: 86%;
}






#minor-flex{
    
padding-left: 50%;
    width: 35% ;
    height: 20%;
    padding-bottom: 4%;
    
    
}

#hot-images{
    position: absolute;
    top: 295%;
    left: 15%;
    

}

#contact-us{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -3%;
    background-color:papayawhip;
    display: flex;
    flex-direction: column;
    
}

#contact-us input{
    
    border-radius: 50px;
    width: 60%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-color: white;

}
#contact-us form{
    padding-left: 25%;
}
#contact-us p{
    text-align: center;
    padding-left: 30%;
    padding-right: 38%;
}

#title{
    display:flex;
    padding-left: 40%;
    justify-content: space-between;
    width: 12%;
}
.us{
    color: rgb(64, 184, 40) ;
    
}
#button{
    padding-right: 37%;
    padding-bottom: 5%;
}


#footer{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: rgb(241, 236, 236);
    display: flex;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#dates{
    display:flex;
    flex-direction: column;
    border-right: dotted darkgreen;
    padding-right: 3%;
    
}

#follow{
    display: flex;
    padding-left: 25%;
    line-height: 3px;
    padding-top: 3%;
}
#address{
padding-top: 3%;
padding-left: 5%;
}

.final{
    padding-left: 10%;
    margin-right: -20%;

}

.web{
    padding-top: 3%;
    font-size: 15px;
}

.button2{
    border-radius: 0%;

}
#dotted-semi{
     width: 480px;
     height: 240px;
     position: absolute;
     border-radius: 1000px 1000px 0 0;
    border: darkgreen dotted;
    top: 36%;
    left: 57%;
    border-bottom: none;
}

#dotted-semi{
     width: 480px;
     height: 240px;
     position: absolute;
     border-radius: 1000px 1000px 0 0;
    border: darkgreen dotted;
    top: 36%;
    left: 57%;
    border-bottom: none;
}














